<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title><%= title %></title>
</head>
<body>
 <h1>Artists</h1>
  <table>
    <tr>
      <td><%= artistName %></td>
      <td><%= genre %></td>
      <td><%= language %></td>
      <td><%= nationality %></td>
      <td><%= bio %></td>
      <td><%= members %></td>
      <td><%= wiki %></td>
    </tr>
  </table>
</body>
</html>
